{
  "parser": "@babel/eslint-parser",
  "extends": [
    "@furdzik/eslint-config"
  ],
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "globals": {
    "NODE_ENV": "readonly",
    "JISHO_API_URL": "readonly",
    "STACKOVERFLOW_API_URL": "readonly",
    "STACKOVERFLOW_USER": "readonly",
    "GITHUB_USER": "readonly",
    "GITHUB_KEY": "readonly"
  }
}
