{
  "customSyntax": "postcss-styled-syntax",
  "extends": [
    "stylelint-config-kamisama"
  ],
  "rules": {
    "max-nesting-depth": [
      5,
      {
        "ignoreAtRules": [
          "at-root",
          "content",
          "extend",
          "function",
          "include",
          "mixin",
          "return"
        ]
      }
    ],
    "comment-empty-line-before": null
  }
}
