/*
    IZABELA FURDZIK - PORTFOLIO
    PRINT
    28/02/2015
 */
/* List of Contents
    - both orientation
    - orientation: portrait
    - orientation: landscape
*/
/* ------------------------------------------------------------------
                           BOTH ORIENTATION
   ------------------------------------------------------------------ */
@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
  body,
  footer {
    background: none;
  }
  #top,
  #menu,
  .me-area,
  #about-me-area,
  .measure {
    display: none;
  }
  #field1,
  #field2,
  #field3,
  #field5,
  #field6,
  #field7,
  #field8,
  #people-area {
    display: none;
  }
  #wrapper {
    width: 100% !important;
  }
  header {
    height: auto;
  }
  header h1 {
    text-align: center;
    font-family: 'Roboto';
    font-size: 80px;
    line-height: 1;
    left: auto;
    padding: 0;
    position: static;
    width: auto;
  }
  header h1 a {
    display: block;
    color: #000;
    text-shadow: none;
  }
  header h1 span {
    display: block;
    color: #888;
    font-size: 30px;
    line-height: 30px;
    position: static;
    text-shadow: none;
    opacity: none;
  }
  #content h1,
  #content h2,
  #content h3,
  #content h4,
  #content h5,
  #content h6,
  #content a {
    color: #000 !important;
  }
  #content h2.y {
    background: #ccc !important;
  }
  #content .ul li span.dot {
    background: #000 !important;
  }
  #content .btn {
    background: #888 !important;
  }
  #content img {
    border: none;
    box-shadow: none;
  }
  .attention {
    text-shadow: none;
    box-shadow: none;
    background: none;
    border-width: 1px;
  }
  footer {
    color: #888;
    border: none;
  }
  .contact.right {
    margin: 0;
    width: 50%;
  }
  ul.social li {
    display: block;
    margin-bottom: 10px;
  }
  ul.social li + li {
    margin-left: 0;
  }
  ul.social a {
    text-decoration: none;
  }
  ul.social a[href]:after {
    content: "(" attr(href) ")";
    font-size: 11px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
  }
  .linkedin,
  .twitter {
    display: inline-block;
    vertical-align: middle;
  }
}
/* ------------------------------------------------------------------
                         ORIENTATION: PORTRAIT
   ------------------------------------------------------------------ */
/* ------------------------------------------------------------------
                         ORIENTATION: LANDSCAPE
   ------------------------------------------------------------------ */
