<!DOCTYPE html>
<html lang="en" data-app-version="<%= htmlWebpackPlugin.options.appVersion %>">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Panel zarzadzajacy profilami pracodawcow." />
    <meta name="robots" content="index, follow, all"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shadows+Into+Light+Two&family=Pacifico&family=Lobster&display=swap" rel="stylesheet">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H5D6JHN72M"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H5D6JHN72M');
    </script>
</head>
<body>
<noscript><%= htmlWebpackPlugin.options.noscript %></noscript>
<div id="root"></div>
<noscript><%= htmlWebpackPlugin.options.noscript %></noscript>
</body>
</html>
