/* 
    RESET IF
    http://www.furdzik.pl/reset_if.css
    v 1.0
*/

* { margin: 0; padding: 0; border: 0; }
article, aside, details, fieldset, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; margin:0; }
body { line-height: 1; }

ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
table { border-collapse:collapse; border-spacing:0; }

/* forms */
form :focus { outline:none; }
input, select { font:inherit; font-size:100%; }

/* clear fix */
.clearfix:before, .clearfix:after { content:""; display:table; } /* dziala pod ie7 ? */
.clearfix:after { clear:both; }
